
html, body, .wrapper {
  height: 100%
}

body {
  text-align: center;
  background-image: url(../images/picture.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

@media (max-width: 768px) {
body {
  background-size: 1200px;
}
}

#main-page {
  max-height: 800px;
  min-height: calc(100vh - 100px);
}


@media (max-width: 992px) {

#main-page {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #main-page {
    padding: none;
  }
}

.container-fluid {
  padding: 3% 15% 15%;
  /* padding: 0 15%; */
}

#inner-section {
  padding: 2% 15% 3%;
  color: #fff;
  height: 500px;
}

@media (max-width: 768px) {
  #inner-section {
    padding: none;
  }
}

.big-heading {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  text-align: left;
  padding-bottom: 100px;

}


@media (max-width: 768px) {
  .big-heading {
    text-align: center;
    left: 50%
  }
}


.inner-section-text {
  padding-top: 3px;
  font-family: "Ubuntu";
  font-weight: 800;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  padding-bottom: 40px;
}

.throwback-tracks-text {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 1000;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .throwback-tracks-text {
    font-size: 2rem;
  }
}


@media (max-width: 576px) {
  .throwback-tracks-text {
    font-size: 1.5rem;
  }
}

#ok-button {
  margin-top: 30px;
  width: 200px;
}

.btn {
  padding-top: 10px;
  margin-bottom: 30px;
}

.auth-button {
  color: white;
  background-color: #3983a8;
  padding-left: 6px;
  padding-right: 6px;
}

.auth-button:hover {
  color: white;
}

@media (max-width: 576px) {
  .auth-button {
    white-space: normal;
    word-wrap: break-word;
    color: white;
    background-color: #3983a8;
  }
}

.get-playlist-button {
  width: 200px;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold
}

.nav-item {
  padding: 0 18px;
  color: #fff;
}

.nav-link {
  font-size:1.2rem;
  color: white;
}

#nav-color {
  color: #fff;
}

.dropdown-menu {
  text-align: center;
  border: solid;
  border-color: white;
  background-color: transparent;
  padding: 0 0 0;
  margin: 0 0 0;
}

.linkedin-icon {
  color: white;
  background-color: transparent;
}

.linkedin-icon i {
  margin-right: .5em;
}

.linkedin-icon:hover {
  color: white;
}

/* Footer */
#footer-section {
  background-color: #263e3e;
}

#footer {
  padding: 1% 15% 3%;
  background-color: #2a2a34;
  height: 100px;
  /* margin-top: 50px; */
}

.footer-end {
  padding: 0px 10px 10px;
  color: white;
}

@media (max-width: 576px) {
  .footer-end {
    padding: 0px 1px 10px;
  }

}

.footer-background {
  color: rgba(255, 255, 255, 0.126);
}


.left {
  text-align: left;
}


#page-brand  {
  font-size: 5rem;
  text-align: left;
  color: white;
  padding-bottom: 2px;
}

@media (max-width: 768px) {
  #page-brand  {
    font-size: 2.5rem;
    text-align: center;
  }
}

.select-date {
  padding: 2% 15% 2%;
  background: rgba(52, 50, 75, 0.5);
  min-height: 800px;
}

.date-picker-text {
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  text-align: center;
}

.pick-date-text-style {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 1000;
  color: white;
  text-align: center;
  margin-top: 100px;
}


.pick-date-text-style-2 {
  padding-top: 20px;
  font-family: "Ubuntu";
  font-weight: 800;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  padding-bottom: 40px;

}

/* Date picker */
.box {
  padding: 1%;
}

.input-group>.form-control:not(:last-child) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.form-control {
  cursor: default;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid white;
  font-weight: 500;
  color: white;
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  font-family:"Montserrat";
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}


.dow {
  cursor: default;
}

.datepicker-switch {
  cursor: default;
}

.day {
  cursor: default;
}

.year  {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: default;
  border-radius: 4px;
}


.century {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: default;
  border-radius: 4px;
}


.decade {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: default;
  border-radius: 4px;
}

.month {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
}


table {
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: "Ubuntu";
}

.table-condensed {
  border: solid;
  border-color: white;
  border-radius: 5px;
  color: white;
  background-color: #1c496b;
  font-family: "Ubuntu";
}

#date {
  justify-content: center;
}

#date-input {
  max-width: 600px;
}

.wrong-date {
  visibility: hidden;
  color: red;
}


/* Images */
.title-image {
  padding-top: 2em;
  width: 300px;
  position: absolute;
  right: 2%;
  /* max-width: ; */
}

@media (max-width: 992px) {
  .title-image {
    display: none;
  }
}

/* Gif */

.gif-loading {
  width: 100px;
  height: 100px;
}
