<!DOCTYPE html>
<html>

<head>
  {% include "inc-html/head.html"%}
</head>

<body>
  <div class="wrapper">
    <section id="main-page">
      <div class="container-fluid">
        <!-- Nav Bar -->
        {% include "inc-html/navbar.html"%}
        <!-- Main Section -->
        <section id="inner-section">
          <div class="row">
            <div class="box col-lg-12">
              <h1 class="inner-section-text">Something went wrong</h1>
            </div>
          </div>
          <div class="row">
            <div class="box col-lg-12">
              <h1 class="throwback-tracks-text">Please try again</h1>
              <a href="/" id="ok-button" class="btn btn-lg auth-button" role="button" aria-pressed="true">OK</a>
            </div>
          </div>
        </section>
      </div>
    </section>

    <!-- Footer -->
    {% include "inc-html/footer.html"%}
  </div>
  {% include "inc-html/scripts-list.html"%}
</body>

</html>