<!DOCTYPE html>
<html>

<head>
    {% include "head.html"%}
</head>


<body>
  <div class="wrapper">
  <section id="title">
    <div class="container-fluid">
      
           <!-- Nav Bar -->
     {% include "navbar.html"%}
     <!-- Main Section -->
      
      
      <section id="authentication">
        <div class="row">
          <div class="box col-lg-12">
            <h1 class="section-3">Something went wrong</h1>
          </div>
          <div class="box col-lg-12">
            <h1 class="section-3">Please try again</h1>
            <a href="/" id="ok" class="btn  btn-lg auth-button" role="button" aria-pressed="true">OK</a>
          </div>
        </div>
      </section>
      </div>
    </section>
    
    
   <!-- Footer -->
   {% include "footer.html"%}
  </div>
  {% include "scripts-list.html"%} 
</body>
</html>
  
 
  