<!DOCTYPE html>
<html>

<head>
  {% include "inc-html/head.html"%}
</head>

<body>
  <div class="wrapper">
    <section id="main-page">
      <div class="container-fluid">
        <!-- Nav Bar -->
        {% include "inc-html/navbar.html"%}
        <!-- Main Section -->
        <section id="inner-section">
          <div class="row">
            <div class="box col-lg-12">
              <h1 class="inner-section-text">Log in to Spotify</h1>
              <a href="{{auth_url}}" class="btn btn-lg active auth-button" role="button"
                aria-pressed="true">AUTHENTICATE WITH SPOTIFY</a>
            </div>
          </div>
          <div class="row">
            <div class="box col-lg-12">
              <h1 class="throwback-tracks-text">Iconic throwback tracks - all picked just for you!</h1>
            </div>
          </div>
        </section>
      </div>
    </section>

    <!-- Footer -->
    {% include "inc-html/footer.html"%}
  </div>
  {% include "inc-html/scripts-list.html"%}
</body>

</html>