<!DOCTYPE html>
<html>

<head>
    {% include "head.html"%}
</head>

<body>
  <div class="wrapper">
  <section id="title">
    <div class="container-fluid">
      
     <!-- Nav Bar -->
     {% include "navbar.html"%}
     <!-- Main Section -->
      <section id="authentication">
        <div class="row">
          <div class="box col-lg-12">
            <h1 class="section-3">Your playlist has been created!</h1>
            <a href="{{playlist_link}}" class="btn  btn-lg active auth-button" role="button" aria-pressed="true">OPEN YOUR PLAYLIST</a>
          </div>
        </div>
      </section>
      </div>
    </section>
    
    
    <!-- Footer -->
    {% include "footer.html"%}
  </div>
  {% include "scripts-list.html"%} 
</body>
</html>