<!DOCTYPE html>
<html>

<head>
  {% include "inc-html/head.html"%}
  <meta http-equiv = "refresh" content = "0; url = /playlist" />
</head>

<body>
  <div class="wrapper">
    <section id="main-page">
      <div class="container-fluid">
        <!-- Nav Bar -->
        {% include "inc-html/navbar.html"%}
        <!-- Main Section -->
        <section id="inner-section">
          <div class="row">
            <div class="box col-lg-12">
              <h1 class="inner-section-text">Your playlist is being created...</h1>
            </div>
          </div>
          <div class="row">
            <div class="box col-lg-12">
              <img src="../images/loading.gif" class="gif-loading">
            </div>
          </div>
        </section>
      </div>
    </section>

    <!-- Footer -->
    {% include "inc-html/footer.html"%}
  </div>
  {% include "inc-html/scripts-list.html"%}
</body>

</html>