<!DOCTYPE html>
<html>

<head>
  {% include "head.html"%}
  <meta http-equiv = "refresh" content = "0; url = /playlist"/>
</head>

<body>
  <div class="wrapper">
    <section id="title">
      <div class="container-fluid">
        <!-- Nav Bar -->
        {% include "navbar.html"%}
        <!-- Main Section -->
        <section id="authentication">
          <div class="row">
            <div class="box col-lg-12">
              <h1 class="section-3">Your playlist is being created...</h1>
            </div>
          </div>      
          <div class="row">
            <div class="box col-lg-12">
                <img src="../images/loading.gif">
            </div>
          </div>
        </section>
      </div>
    </section>
    
    <!-- Footer -->
    {% include "footer.html"%}
  </div>
  {% include "scripts-list.html"%} 
</body>
</html>